@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.spinner-border {
    color: blue;
}

.bodyBG {
    background-image: url(./image/background.jpg);
    background-position: center;
    background-size: cover;
}

.loaderImage {
    width: 50%;
}

.spinnerPosition {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.textLoader {
    color: white;
    font-size: 18px;
    margin-top: 80px;
    font-family: 'Montserrat';
}

html {
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
    display: flex;
    justify-content: center;
}

.task {
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
}